input {
  margin-top: 4px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}

#cancel {
  color: black;
  font-size: 32px;
}

#cancel:visited {
  color: black;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 18px;
  /* padding-left: 16px; */
}

.button {
  margin-left: 16px;
  color: black;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}